.full {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 10px;
    margin: 0% 10%;
}

.first {
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.second {
    padding: 10px;
}


@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .full {
        margin: 0% 5%;
    }
}

@media screen and (max-width: 500px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .full {
        grid-template-columns: 1fr;
        margin: 0% 5%;
    }
}